

.navbar-top {
    background-color: #f2f7ff; 
    border-bottom: 1px solid #dee2e6;
}

.main-sidebar {
    background-color: #f2f7ff;
    border-bottom: 1px solid #dee2e6;
    padding: 0;
}

.main-sidebar .nav-link {
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.2s;
    color: #343a40; 
    border-radius: 5px; 
}
.main-sidebar .nav-link:hover {
    background-color: #f2f7ff;
}
.main-sidebar .nav-link.active {
    background-color: #f2f7ff;
}
