body {
    background-color: #f2f7ff;
}
.card-empty {
    padding: 80px 20px;
    text-align: center;
    color: #7f8c8d;
}
.icon-calendar {
    font-size: 50px;
    color: #bdc3c7;
}


.card-custom {
    border-radius: 14px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.btn-action {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-style: italic;
}