body {
    background-color: #050608;
}


        /* tarjetas */
.summary-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.summary-card:hover {
    transform: translateY(-2px);
}
.icon-box {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
}
        /* Colores de fondo para los iconos */
.bg-blue { 
    background-color: #4a67d9; 
}
.bg-green { 
    background-color: #38b449; 
}
.bg-orange { 
    background-color: #f7931e; 
}
.bg-purple { 
    background-color: #925bd3; 
}
        
        /* Estilo para el texto de crecimiento */
.growth-text {
    color: #38b449; 
    font-size: 1rem;
    font-weight: 500;
}
        
        
.appointments-section {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f2f7ff; /
}
.no-appointments-box {
    text-align: center;
    padding: 50px 0;
    color: #6c757d;
}
.no-appointments-icon {
    font-size: 3rem;
    color: #ced4da;
}
  /* Estilo para los cuadros de íconos pequeños en las tarjetas */
.icon-box-sm {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem; /* Tamaño del icono */
}